{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add book</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.5-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-5.3.5-dist/js/bootstrap.bundle.js' %}"></script>
</head>
<body style="background-color: #e3e3db">
<nav style="background-color: #000057;"
     class="nav p-4 align-content-center justify-content-center">
    <a href="{% url 'index' %}">
        <img src="{% static 'main.png' %}" alt="main image">
    </a>
</nav>
<div style="background-color: #6ea8d9"
     class="p-2">
    <h1 class="mb-0 text-lg-center">Додај нова книга</h1>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning rounded-pill">
          Додај книга
        </button>
      </form>
    </div>
  </div>
</div>
</body>
</html>