* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body > *{
    padding-inline: 5rem;
}

header,
footer{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header > ul,
footer > ul{
    justify-self:end;
}

footer{
    width:100%;
}

ul > a > li{
    text-transform: uppercase;
    color: rgb(47, 47, 65);
}

ul{
    display: flex;
    gap: 3rem;
}

ul > a li.selected{
    color: limegreen;
}

a{
    text-decoration: none;
    font-size: 1rem;
}
.container-1 {
    background-color: rgb(0, 0, 139);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 1rem;
} 

.container-2{
    font-size: 0.9rem;
    background-color: rgb(90, 154, 90);
    padding-block: 1rem;
}

.container-2 div:first-of-type{
    margin-bottom: 3rem;
}

.container-2 p{
    padding-top: 0.7rem;
}

.container-2 div:last-of-type{
    margin-bottom: 3rem;
}

.container-2 div:first-of-type img{
    float:left;
    border-radius: 15%;
    padding-right: 2ch;
}

.container-2 div:last-of-type img{
    float:right;
    border-radius: 15%;
    padding-left: 2ch;
}

/* about-us */
.container2-1{
    background-color: rgb(109, 255, 111);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2-1 > p {
    font-size: 1.3rem;
}

.container2-2{
    background-color: rgb(221, 221, 221);
    padding-block: 0.5rem;
}

.container2-2 > h1{
    text-align: center;
    color: white;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 330px;
    padding: 1rem 0.5rem;
    border-radius: 5%;
    font-weight: 600;
}

header + hr,
.container2-2 + hr,
.container-2 + hr,
.container3-1 + hr{
    border:1px solid black;
    width: 100%;
}

.profile-card hr{
    border: 1px black solid;
    width: 90%;
}

.profile-card img{
    align-self: stretch;
}

.card-container{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding-block: 1rem;
}

/* contact.html */

.container3-1{
    background-color: rgb(221, 221, 221);
    padding-top: 1rem;
    padding-bottom: 13rem;
}

iframe{
    float: right;
    height: 300px;
    margin-left: 0.1rem;
}

.container3-2 > h1{
    color: white;
}

.container3-1 > p{
    clear: both;
    float: right;
    padding-block: 2rem;
}