body {
    background-color: #e6e6e6;
    padding-left: 250px;
}

.website-body{
    background-color: white;
    width: 800px;
    height: 600px;
    font-size: 18px;
    margin: 0;
    font-family: "Gill Sans MT", Calibri, Arial, Verdana, sans-serif;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
}

nav,
footer{
    height: 30px;
    color: white;
    background-color: #81b518;
    display: flex;
    align-items: center;
}

nav {
    padding: 4px;
    margin-top: 20px;
    box-shadow: inset -5px -10px 10px 1px rgba(76, 101, 14, 0.3);
}

nav > ul{
    margin-left: 7px;
    justify-self: left;
}

nav > img{
    height: 120px;
    /*order: 1;*/
}

nav > ul > li{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    text-align: center;
}

ul > li > a{
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

section{
    height: 420px;
    display: flex;
    margin-top: 0;
    margin-left: 10px;
    align-items: center;
    padding: 0;
}

section > div{
    display: flex;
    flex-direction: column;
}

section div p:first-child{
    color: #92CD00;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

section > div > p{
    color: #192402;
    font-size: 18px;
}

section div:nth-child(2){
    margin-left: 10px;
    align-self: center;
}
section img {
    height: 300px;
    width: 370px;
}

